# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @iceman201

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
*.swift    @iceman201 @github/swift
*.html     @iceman201 @github/html

# You can also use email addresses if you prefer.
docs/*  liguo@jiao.co.nzm
